/* Ainda preciso organizar isso tudo */

.note {
  font-style: italic;
  
}

.funfact {
  background-color: #cdc9fd;
}


body {
  background-color: rgb(250, 253, 255);
}

div1 {
  height: 100px;
  width: 60%;
  background-color: rgb(214, 233, 250);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
  
}

p, h3 {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 12px;
  padding-right: 12px;
  text-align: justify;
  padding-bottom: 8px;
  padding-top: 8px;
}

/* h1 {
  border-color: rgb(0, 128, 0);
  border-style: dotted;
  border-width: 5px;
  text-align: center;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
} */

/* ^ isso é a mesma coisa que isso: */

h1 {
  border: 5px dotted rgb(0, 128, 0);
  text-align: center;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}


li {
  display: inline;
}

/* p::first-letter {
  color: rgb(56, 56, 172);

} */

p:hover {
  background-color: rgb(190, 250, 250);
}

